<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiodaperua">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_ways"
        android:label="Ways"
        android:roundIcon="@drawable/app_icon_ways"
        android:supportsRtl="true"
        android:theme="@style/Theme.TioDaPerua">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
    </application>

</manifest>
